* {
    box-sizing: border-box;
}

html {

    color: gainsboro;
    background-color: #111;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.6;
}

body {
    padding: 1rem;
    margin: 0;

}